body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 10px solid slategray;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
}

.paragraph {
  width: 50%;
  min-width: 200px;
  margin: 0 auto;
  padding-bottom: 40px;
  line-height: 2;
  color: darkslategray;
}

.title {
  color: darkslategray;
  padding: 100px 0 20px 0;
}

@media only screen and (min-width: 450px) {
  body {
    border: 20px solid slategray;
  }

  .paragraph {
    font-size: 20px;
    padding-bottom: 60px;
  }

  .title {
    color: darkslategray;
    padding: 120px 0 40px 0;
  }
}
